<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329607223596-vt86i4b0kgg3hp5p86ggfk1i596t4517.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329607223596-vt86i4b0kgg3hp5p86ggfk1i596t4517</string>
	<key>API_KEY</key>
	<string>AIzaSyApBPPbvxhbrXB6yGPba77M4z3-2xj_fQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>329607223596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.axenda.manhal</string>
	<key>PROJECT_ID</key>
	<string>axe-ejadah</string>
	<key>STORAGE_BUCKET</key>
	<string>axe-ejadah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329607223596:ios:384d454b3a4581cd26b489</string>
</dict>
</plist>